/* 

--- TYPOGRAPHY SYSTEM

- Font Sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights:
Regular: 400
Semi-bold: 600
Bold: 700

- Line height:

- Letter spacing:

--- COLORS

-Primary:

-Tints:

-Shades:

-Gray:

Accent:

--- SHADOWS


--- BORDER RADIUS

--- WHITESPACE

- Spacing System (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

/* GENERAL STYLING */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #00252e;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(255, 82, 191, 0.5);
  border-radius: 4px;
}

footer *:focus {
  box-shadow: 0 0 0 8px #4d666d;
}

/* Reusable components */
.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 6.4rem;
}

.heading-primary,
.heading-secondary {
  font-family: "Poppins";
}

.heading-primary {
  font-weight: 700;
  font-size: 5.2rem;
  text-align: center;
  margin-bottom: 4.4rem;
}

.heading-secondary {
  font-weight: 600;
  font-size: 4.4rem;
  margin-bottom: 3.8rem;
}

.heading-tertiary {
  font-weight: 700;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

.img-container {
  display: flex;
  justify-content: center;
}

.bg {
  display: block;
  width: 100%;
}

.bg--mobile {
  display: none;
}

.grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-twitter {
  padding: 0.4rem;
  border-radius: 4px;
  fill: #00252e;
  stroke: #00252e;
  background-color: white;
}
