/******************/
/* HEADER */
/******************/

header {
  margin: 3.2rem 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rem;
}

.btn-header:link,
.btn-header:visited {
  font-size: 1.6rem;
  color: hsl(322, 100%, 66%);
  text-decoration: none;
  padding: 1rem 2.4rem;
  box-shadow: 0 0 3px hsl(322, 100%, 66%);
  border: solid 1px hsl(322, 100%, 66%);
  border-radius: 2.4rem;
  transition: all 0.3s;
}

.btn-header:hover,
.btn-header:active {
  color: white;
  background-color: hsl(322, 100%, 66%);
}

.btn-header:focus {
  box-shadow: 0 0 0 8px rgba(255, 82, 191, 0.5);
}

/******************/
/* HERO SECTION */
/******************/

.section-hero {
  margin-bottom: 12.8rem;
}

.hero-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 6.4rem;
}

.hero-subtext {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;

  padding: 0 22rem;
  margin-bottom: 4.4rem;
}

.container-cta-btn {
  margin-bottom: 9.2rem;
  display: flex;
  justify-content: center;
}

.btn-cta:link,
.btn-cta:visited {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;

  color: white;
  background-color: hsl(322, 100%, 66%);
  border: solid 2px hsl(322, 100%, 66%);

  transition: all 0.3s;

  padding: 3rem 10rem;
  border-radius: 4.8rem;
}

.btn-cta:hover,
.btn-cta:active {
  color: hsl(322, 100%, 66%);
  background-color: white;
}

.hero-img {
  width: 100%;
  margin-bottom: 9.2rem;
}

/* STATS */

.stats {
  display: flex;
  justify-content: space-around;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.stat-icon {
  width: 3.6rem;
  align-self: flex-start;
}

.stat-number {
  font-weight: 700;
  font-size: 7.2rem;
  margin-bottom: 2rem;
}

.stat-subtext {
  align-self: center;

  font-size: 2rem;
  color: #4d666d;
}

/******************/
/* FEATURES SECTION */
/******************/

.section-features {
  margin-bottom: 12.8rem;
}

.container-f1,
.container-f3 {
  background-color: hsl(207, 100%, 98%);
  padding: 7.2rem 0;
}

.container-f2 {
  margin: 12.8rem 0;
}

.feature {
  display: flex;
  align-items: center;
  gap: 12.8rem;
}

.feature-img {
  width: 45%;
}

.feature-subtext {
  font-size: 1.8rem;
  line-height: 1.5;
}

/******************/
/* CTA SECTION */
/******************/

.heading-cta {
  text-align: center;
}

/******************/
/* FOOTER SECTION */
/******************/

.footer-container {
  background-color: hsl(192, 100%, 9%);
  color: white;

  padding: 7.2rem 0;
}

.footer-textbox {
  grid-column: 1;
}

.footer-logo {
  filter: brightness(0) invert(1);
  margin-bottom: 3.2rem;
}

.footer-subtext {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 3.2rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 2rem;
}

.contact-icon {
  width: 1.6rem;
}

.contact-text {
  font-size: 1.4rem;
}

.social {
  display: flex;
  gap: 2rem;

  margin-top: 4.4rem;
}

.social-link {
  color: white;
}

.footer-newsletter {
  grid-column: 3 / -1;
}

.newsletter-subtext {
  width: 50%;
}

form {
  display: flex;
  gap: 4.4rem;
  align-items: center;
}

.newsletter-input {
  font-size: 2rem;
  color: hsl(192, 100%, 9%);
  outline: none;
  height: 4.4rem;
  width: 28rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1.2rem;
}

.btn-newsletter {
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
  background-color: hsl(322, 100%, 66%);
  padding: 1.4rem 4.4rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.btn-newsletter:hover {
  color: hsl(322, 100%, 66%);
  background-color: white;
}

.btn-newsletter:focus {
  box-shadow: 0 0 0 8px rgba(255, 82, 191, 0.5);
}
